.pt-100 {
    padding-top: 100px !important;
}

.bg-position-top {
    background-position: center top;
}

.img {
    width: 100%;
    margin-bottom: -3px;
}

.img.pb-100::before {
    padding-bottom: 100%;
}

.img.pb-70::before {
    padding-bottom: 70%;
}

.img.pb-50::before {
    padding-bottom: 50%;
}

.img::before {
    content: '';
    display: block;
    width: 100%;
}

.fixed-nav {
    top: 0;
    background-color: black;
    box-shadow: 0 5px 50px 15px rgba(0, 0, 0, 0.2);
}

.container-full {
    padding-left: 10%;
    padding-right: 10%;
}

/* SOCIAL ICONS */
.social-ico {
    width: 60px;
    height: 75px;
    text-align: center;
    position: relative;
    max-height: 75px;
}

.social-ico i {
    width: 100%;
}

.social-ico i::before {
    font-size: 40px;
    display: block;
    margin-bottom: 8px;
    transition: all .3s;
}

.social-ico:hover i::before {
    font-size: 45px;
    color: rgb(110, 108, 108);
}

.social-ico a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* LINEAR SKILL BAR */
.skillbar-bar {
    background: #212529 !important;
}

.skillbar {
	position:relative;
	display:block;
	margin-bottom: 40px;
	width: 100%;
	background: #ffffff;
	height: 15px;
	border-radius: 2px;
	transition: 0.4s linear;
	transition-property: width, background-color;
}

.skillbar-title {
    top: 0;
    left: 0;
    width: 100px;
    font-weight: normal;
    font-size: 24px;
    color: #000000;
    background: #ffffff;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.skillbar-title span {
    display: block;
    padding: 0 1px 2px;
    line-height: 24px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.skillbar-bar {
	height: 3px;
	width: 0px;
	background: #ffffff;
	border-radius: 3px;
}

.skill-bar-percent {
    position: absolute;
    right: 0px;
    top: 0;
    font-size: 24px;
    height: 10px;
    line-height: 24px;
    color: #ffffff;
    color: rgba(0, 0, 0, 0.4);
}

.btn-sm {
    min-width: unset !important;
}

.filter-bw {
    filter: grayscale(80%);
}

.w-90 {
    width: 90%;
    margin: 0 auto;
}

.mt-200 {
    margin-top: 200px;
}

.mt-150 {
    margin-top: 150px;
}

.breadcumb-area {
    height: 70vh;
}

.masonry-item {
    width: 30%;
    margin: 16px;
}

.content-masonry {
    width: 90%;
    margin: 100px auto;
}

.prev.pag-numbers {
    
}

.next.pag-numbers {
    
}

.circle-image img{
    border-radius: 50%;
}

.resume-post {
    flex: 1 1 auto;
    position: relative;
    display: flex !important;
    flex-flow: column wrap !important;
    min-height:  100% !important;
}

.resume-post > a {
    margin-top: auto !important;
}

.depth-2 {
    margin-left: 16px !important;
}

.depth-3 {
    margin-left: 32px !important;
}

.depth-4 {
    margin-left: 48px !important;
}

.depth-5 {
    margin-left: 64px !important;
}

li.comment, .comment li {
    list-style-type: none;
}

.reply {
    margin-bottom: 16px;
}

.comment-body > p {
    margin-bottom: 0 !important;
}

/*-----------------------------PAGINACION ESTILOS--------------------*/
nav.pagination {
position: relative;
display: block;
}

.nav-links {
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
}

.nav-links ul {
    margin: 0;
    padding: 0,
}

.nav-links a, .nav-links span {
    margin-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: transparent;
    display: block;
    padding: 0;
    border: 1px solid transparent;
    color: #5f5f5f;
    font-size: 15px;
    font-weight: 400;
    width: 34px;
    height: 34px;
    line-height: 32px;
    text-align: center;
    margin-right: 10px;
}

.nav-links span.current {
    color: #000000;
    border: 1px solid #000000;
}

.nav-links ul li a {
    padding: 10px 12px;
    background: #ddd;
    color: #666;
    text-decoration: none;
    border: 1px solid #ccc;
    border-radius: 3px;
    display: block;
    line-height: 1;
}

.nav-links a:hover {
    color: #000000;
    border: 1px solid #000000;
}

.nav-links a.next, .nav-links a.prev {
    width: auto !important;
    padding-left: 6px;
    padding-right: 6px;
}

.screen-reader-text {
    display: none;
}

/*---------------------VIDEOS----------------------*/
.wp-block-embed__wrapper {
position:relative;
padding-bottom:56.25%;
padding-top:30px;
height:0;
overflow:hidden;
}

.wp-block-embed__wrapper iframe, .wp-block-embed__wrapper object, .wp-block-embed__wrapper embed, .custom-post-content iframe {
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
}

/*-------------------FORMULARIO DE COMENTARIOS--------------------*/
#commentform p label {
    display: block;
    margin-bottom: 0px;
}

#commentform p input, #commentform p textarea {
    width: 80%;
}

#commentform p textarea {
    resize: none;
}

#commentform .comment-form-comment {
    margin-bottom: 0px;
}

#commentform input[type='submit'] {
    cursor: pointer;
    margin-top: 32px;
    margin-bottom: 32px;
    background-color: #fff;
    -webkit-transition-duration: 600ms;
    transition-duration: 600ms;
    position: relative;
    z-index: 1;
    display: inline-block;
    min-width: 212px;
    height: 49px;
    color: #000;
    border: 1px solid #000;
    border-radius: 0;
    padding: 0 30px;
    font-size: 16px;
    line-height: 47px;
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    /*transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;*/
}

#commentform input[type='submit']:hover {
    transition-duration: 500ms;
    text-decoration: none;
    outline: 0 solid transparent;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    font-family: "Archivo Narrow", sans-serif;
    background-color: #000000;
}

.remove-li-style > li {
    list-style-type: none !important;
}

.container-list-ico li i {
    margin-right: 16px !important;
}

.container-list-ico li:last-child hr {
    display: none;
}

.move-count-right li {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    justify-content: space-between;
}

.popular-artists-area hr:last-child {
    display: none;
}

.hr-display {
    display: block !important;
}

.popular-artists-area li:last-child .hr-display{
    display: none !important;
}

.content-masonry a {
    font-weight: normal !important;
    transition: all .25s;
}

.content-masonry a:hover {
    color: #898888;
}

.content-masonry li {
    list-style: none;
}

.content-masonry i {
    margin-right: 8px;
}

@media screen and (max-width: 1073px) {
    .masonry-item {
        width: 46%;
    }
}

@media screen and (max-width: 894px) {
    .masonry-item {
        width: 45%;
    }
}

@media screen and (max-width: 719px) {
    .masonry-item {
        width: 44%;
    }
}

@media screen and (max-width: 650px) {
    .masonry-item {
        width: calc(100% - 24px);
    }
}

/*-----------------------Estrellas para el custom post--------------------------------*/
.custom-post-stars {
    width: 104px !important;
    display: inline-block;
    background-color: rgb(87,96,102, 0.8);
    border-radius: 50px;
    padding-left: 4px;
    padding-right: 4px;
    z-index: 2;
    position: absolute;
    top: 16px;
    left: 16px;
}

input.cp-star { 
    display: none; 
}

label.cp-star {
  float: right;
  padding: 3px !important;
  font-size: 14px !important;
  color: #444;
  transition: all .2s;
  margin-top: 3px !important;
  margin-bottom: 3px !important;
}

input.cp-star:checked ~ label.cp-star:before {
  content: '\f005';
  color: #FD4;
  transition: all .25s;
}
input.star-5:checked ~ label.cp-star:before {
  color: #FE7;
  text-shadow: 0 0 20px #952;
}

input.star-1:checked ~ label.cp-star:before { 
    color: #F62;    
}

label.cp-star:hover { 
    transform: rotate(-15deg) scale(1.3); 
}

label.cp-star:before {
    content: '\f006';
    font-family: FontAwesome;
}

.custom-post-stars::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: transparent;
}

.container-description {
    border: 1px solid #d8d8d8;
    background-color: #f5f9fa;
}

.item-list > li {
    margin-bottom: 4px;
}

.item {
    font-size: 1.1em;
    margin-left: 4px;
    font-weight: bold;
}

.container-stars {
    position: relative;
    width: auto !important;
}

.container-stars::before {
    content: '';
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
}

.aligncenter {
    margin: 0 auto;
}